{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Account Balance{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome Back, {{current_user.username}}!</h1>
    <a href="{{ url_for('trans.register') }}" align = 'right'>Register New Accounts</a>
    <br>
</div>
<div class="table-accounts">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Public Address</th>
            <th scope="col">Current Amount</th>
            <th scope="col">Active Since</th>
        </tr>
        </thead>
        <tbody>
        {% for account in alist %}
        <tr>
            <td>{{account.public_address}}</td>
            <td>{{account.account_val}}</td>
            <td>{{account.active_since}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}